#
# ESP32-S3-WROOM-1 (espressif_esp32s3_default) board Kconfig.
# No FMU timing-probe GPIOs on this module.
#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config BOARD_HAS_PROBES
	bool
	default n
